// @use '../variables' as *;

.skeleton {
    background: $background-color;
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg,
                transparent,
                rgba(255, 255, 255, 0.4),
                transparent);
        animation: skeleton-loading 1.5s infinite;
    }
}

@keyframes skeleton-loading {
    100% {
        left: 100%;
    }
}